[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
aiohttp = "*"
click = "*"
"beautifulsoup4" = "*"
selenium = "*"
multidict = "*"
openpyxl = "*"
xlrd = "*"
brotlipy = "*"

[dev-packages]
