[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
aiohttp = "*"
click = "*"
beautifulsoup4 = "*"
selenium = "*"
multidict = "*"
openpyxl = "*"
xlrd = "*"
Brotli = "*"
brotli = "*"

[dev-packages]
